[submodule "sisdrenagem-ui"]
path = sisdrenagem-ui
url = git@github.com:EquipeSisDrenagem/Front.git

[submodule "sisdrenagem-api"]
path = sisdrenagem-api
url = git@github.com:EquipeSisDrenagem/Back.git

[submodule "sisdrenagem-db"]
path = sisdrenagem-db
url = git@github.com:EquipeSisDrenagem/postgres.git
